extends layout

block content

  section.header-section
    div.header-content
      h1 #A2-1337
  section.register-section
    form.register-section(name="register")
      input(type="text" name="name")
      input(type="text" name="email")
      input(type="text" name="year")
      input(type="text" name="github")
      button(type="submit") Let's Go
  section.about-section
  section.partners-section
    div.partners-content
      div.top.sponsor.farmlogs
      div.top.sponsor.michigan-hackers
