doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/index.min.css')
    //- For development
    script(src="//localhost:35729/livereload.js")
    script(src="/javascripts/index-lib.min.js")
  body
    nav
      ul
        li
          a(href="#") 
            h3 a2-1773
        li
          a(href="#Register")
            h3 Register
        li
          a(href="#About")
            h3 About
        li
          a(href="#Partners")
            h3 Partner
    block content

    script(src="javascripts/main.js")