doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/index.min.css')
    //- For development
    script(src="//localhost:35729/livereload.js")
    script(src="/javascripts/index-lib.min.js")
  body
    nav
      ul
        li
          a(href="#") a2-1773
        li
          a(href="#Register") Register
        li
          a(href="#About") About
        li
          a(href="#Partners") Partners
    block content

    script(src="javascripts/main.js")